/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
a:link, a:visited {
  color: #000;
  text-decoration: none;
}

  a:link:active, a:visited:active {
    color: (#00FFFF);
  }

img {
  display: inline-block;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

  div.gallery:hover {
    border: 1px solid #777;
  }

  div.gallery img {
    width: 100%;
    height: auto;
  }

div.desc {
  padding: 15px;
  text-align: center;
}
